#gallery {
    width: 100%;
  } // Alle Beiträge auf der Startseite
  .pictureFramePostDetail {
    width: 100%;
    position: relative;
  } // Bilderrahmen mit Bild und Text
  .thumbnailImgSlider {
    margin-top: -10px;
    padding: 0px !important;
    max-height: 200px;
    object-fit: cover;
  }// Titelbild der Reise
  #travelTitle{
    width: 100%;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    line-height: 26pt;
    text-align:center;
    background-color: #eceeefbf;
    font-variant: small-caps;
    position:absolute;
  } // Titel der Reise im Bild
 