button.button-native{
  padding:0;
}
.journeythumbnail {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 0px !important;
}
#journeyName{
  width: 100%;
  border-bottom: 1px solid #16161650;
  max-height: 30pt;
  vertical-align: middle;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  padding-left: 10px;
  margin-bottom: 5px;
}
.seasonYear{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}// Jahreszeiten & Jahr
.season{
  color: #161616;
}
.radioButtons ion-radio{
  border: none;
}
.labelsCategories{
  margin-left: 3px;
}// alle Labels bei den jeweiligen Kategorien
.costcategories{
  justify-content: right;
  text-align: right;
  margin-right: 2px;
}
#journeyDuration{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}