<ion-header color="none">
  <ion-toolbar class="tabToolbars">
   <!-- <ion-buttons id="back" slot="start">
      <ion-button icon-only>
        <ion-icon name="ios-arrow" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="tabHeading" padding="none">New journey</ion-title>
    <img id="toolbarLogo" src="/assets/images/LEVT_Logo_ohneSchrift.svg" alt="Logo" />
  </ion-toolbar>
</ion-header>
<hr>

<ion-content class="tabsContent">
  <div id="journeythumbnail">
    <img class="journeythumbnail" src="/assets/images/01.jpg" alt="Journeycover" />
  </div>
  <!--<ion-item>
    <ion-label><b>Give your journey a name</b></ion-label>
  </ion-item>-->
  <ion-item >
    <ion-input padding="none" placeholder="Give your journey a name" background="light"></ion-input>
  </ion-item>
  <ion-item>
    <!--<ion-select placeholder="Season">
      <ion-select-option> Spring </ion-select-option>
      <ion-select-option> Summer </ion-select-option>
      <ion-select-option> Fall </ion-select-option>
      <ion-select-option> Winter </ion-select-option>
    </ion-select>-->
    <ion-segment>
      <ion-segment-button> Spring </ion-segment-button>
      <ion-segment-button> Summer </ion-segment-button>
      <ion-segment-button> Fall </ion-segment-button>
      <ion-segment-button> Winter </ion-segment-button>
    </ion-segment>
    <ion-datetime placeholder="Year" displayFormat="YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Type of Journey">
      <ion-select-option *ngFor="let c of data.journeyCategories.journeyCategories">
        {{c.journeyCategoryName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
      <ion-select placeholder="Journey Companionship">
          <ion-select-option *ngFor="let cs of data.companionships.companionships">
              {{cs.companionshipType}}
            </ion-select-option>  
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label><b>Visited places</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="warning" id="NoPlace"> You haven't added any places to your journey!</ion-label>
  </ion-item>
 <ion-item>
  <div id="alreadyAddedPlaces" class="gridContainer">
    <div class="grid-item" *ngFor="let p of data.currentJourney.places">
      <img class="pictureGrid" src="{{p.thumbnailSrc}}" alt="" />
      <div id="visitedPlaceName">{{p.name}}</div>
    </div>
    <div class="grid-item" (click)="goToAddPlace()">
      <ion-icon name="ios-add" class="addPlace" ></ion-icon>
    </div>
  </div>
</ion-item>

   <!-- <ion-item>
      <ion-button  class="middlebutton" color="light" (click)="goToAddPlace()">
        <ion-icon slot="start" name="add"></ion-icon>
        Add a place to your journey
      </ion-button>
    </ion-item> -->
  <ion-item>  <hr></ion-item>
  <ion-item>
      <ion-label><b>Journey Details</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Tell us more about your Journey..." rows="8" background="light"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-checkbox></ion-checkbox>
      <ion-label> add travel costs</ion-label>
    </ion-item>
    <div id="divideCosts">
        <ion-item>
            <ion-checkbox></ion-checkbox>
            <ion-label>divide costs by category</ion-label>
          </ion-item>
    </div>
    <div id="journeycostsCategories">
      <ion-item><ion-input placeholder="accomodation costs"></ion-input></ion-item>
      <ion-item><ion-input placeholder="transport costs"></ion-input></ion-item>
      <ion-item><ion-input placeholder="food costs"></ion-input></ion-item>
      <ion-item><ion-input placeholder="activity costs"></ion-input></ion-item>
      <ion-item><ion-input placeholder="other costs"></ion-input></ion-item>
      <ion-item><ion-label>Total Costs</ion-label></ion-item>
    </div>
    <div id="journeycostsTotal">
        <ion-item><ion-input placeholder="total costs"></ion-input></ion-item>
    </div>
    <ion-button color="primary" expand="full">
        Finish
    </ion-button>
</ion-content>
