.letzteNachricht{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
#chat{
    background-image: url("/assets/images/LEVT_Header.svg");
    background-repeat: no-repeat;
    background-position: center;
} // Ganzes Chatfenster

.timeAllChats{
    color:  #182f30;
    font-weight: bold;
}

.chatsBg{
    margin-bottom: 10px;
    background-color: #7ba9a97F;
}