<ion-header>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  <ion-toolbar>
    <ion-title>{{data.currentJourney.journeyName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
        <div id="gallery">
          <div class="pictureFrame">
            <div class="frameLeft"></div>
            <div class="imgAndInfo">
              <ion-item class="thumbnailImg" color="none">
                <img src="{{data.currentJourney.thumbnailSrc}}" alt="Reise" />
              </ion-item>
              <div class="picInformations">
                <div class="userpicAndName">
                  <ion-item color="none">
                    <img src={{data.currentJourney.userImgSrc}} alt="User" class="userpic" />
                  </ion-item>
                  <ion-item color="none">
                    <ion-label>{{data.currentJourney.username}}</ion-label>
                  </ion-item>
                </div>
                <ion-item color="none" id="travelTime">
                    <ion-icon name="md-time" id="timeIcon"></ion-icon>
                  <ion-label>{{data.currentJourney.seasonName}} - {{data.currentJourney.year}}</ion-label>
                </ion-item>
              </div>
            </div>
            <div class="frameRight"></div>
          </div>
        </div>
      </ion-list>
  <ion-list>
    <ion-item><ion-label>Journey Name: {{data.currentJourney.journeyName}}</ion-label></ion-item>
    <ion-item><ion-label>Season Name: {{data.currentJourney.seasonName}}</ion-label></ion-item>
    <ion-item><ion-label>Year: {{data.currentJourney.year}}</ion-label></ion-item>
    <ion-item><ion-label>Journey Category Name: {{data.currentJourney.journeyCategoryName}}</ion-label></ion-item>
    <ion-item><ion-label>Companionship: {{data.currentJourney.companionshipType}}</ion-label></ion-item>
    <ion-item><ion-label>Details:{{data.currentJourney.detail}}</ion-label></ion-item>
    <ion-item><ion-label>Username: {{data.currentJourney.username}}</ion-label></ion-item>


  </ion-list>
  
  
</ion-content>
