<ion-header>
  <ion-toolbar>
    <ion-title>journeyDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item><ion-label>Journey Name: {{data.currentJourney.journeyName}}</ion-label></ion-item>
    <ion-item><ion-label>Season Name: {{data.currentJourney.seasonName}}</ion-label></ion-item>
    <ion-item><ion-label>Year: {{data.currentJourney.year}}</ion-label></ion-item>
    <ion-item><ion-label>Journey Category Name: {{data.currentJourney.journeyCategoryName}}</ion-label></ion-item>
    <ion-item><ion-label>Companionship: {{data.currentJourney.companionshipType}}</ion-label></ion-item>
    <ion-item><ion-label>Details:{{data.currentJourney.detail}}</ion-label></ion-item>
    <ion-item><ion-label>Username: {{data.currentJourney.username}}</ion-label></ion-item>


  </ion-list>
  
  
</ion-content>
