.sc-ion-buttons-md-s ion-button {
    --padding-start: 20px;
    --padding-end: 20px;
  } // buttons x & <

    #chatRequestIcon{
      width: 30px;
      z-index: 100;
      top: 0;
      right: 0;
      position: absolute;
    } // Icon Chatanfrage am Profil
    