<ion-header class="tabHeader">
  <ion-buttons>
    <ion-button icon-only (click)="backToSettings()">
      <ion-icon class="back" name="ios-arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  <ion-title class="tabHeading" no-padding> Data Privacy</ion-title>
  <img class="headerLogo" src="/assets/images/LEVT_Logo_ohneSchrift.svg" alt="Logo" />
</ion-header>
<hr><!--macht eine durchsichtige Linie zwischen Header und eigentlichen Content-->

<ion-content class="tabsContent">
<div id="Datenschutz">
<h1 style="color: #415f4b;">Datenschutzerklärung</h1>
<b>Datenschutz</b><br>
Wir haben diese <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=111245996">Datenschutzerklärung (Fassung 23.01.2020-111245996)</a> verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.
<br><br>
Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
<br><br>
<b>Automatische Datenspeicherung</b><br>
Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.
<br><br>
Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie
<br>
<ul>
<li>die Adresse (URL) der aufgerufenen Webseite</li>
<li>Browser und Browserversion</li>
<li>das verwendete Betriebssystem</li>
<li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
<li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
<li>Datum und Uhrzeit</li>
</ul>
in Dateien (Webserver-Logfiles). <br><br>
In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
<br><br>
<b>Speicherung persönlicher Daten</b><br>
Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.
<br><br>
Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
<br><br>
Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.
<br><br>
<b>Rechte laut Datenschutzgrundverordnung</b><br>
Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen <a href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=111245996">Datenschutzgesetzes (DSG)</a> grundsätzlich die folgende Rechte zu:
<br>
<ul>
<li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
<li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
<li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
<li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
<li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
<li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
<li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
</ul>
Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a href="https://www.dsb.gv.at/">https://www.dsb.gv.at/</a> finden.
<br><br>
<b>Auswertung des Besucherverhaltens</b><br>
In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser Website auswerten. Die Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem Verhalten auf dieser Website nicht auf Ihre Person schließen.
<br><br>
Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden Datenschutzerklärung.
<br><br>
<b>TLS-Verschlüsselung mit https</b><br>
Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=111245996">Artikel 25 Absatz 1 DSGVO</a>). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schlosssymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.
<br><br>
Quelle: Erstellt mit dem Datenschutz Generator von <a href="https://www.adsimple.at/">adsimple.at</a> in Kooperation mit <a href="https://www.wallentin.cc/">wallentin.cc</a>
</div>

</ion-content>
