<ion-header color="none">
  <ion-list class="headerAll">
    <ion-buttons slot="end" no-padding>
      <ion-button class="setup" style="margin-top: 20px; right: 0;"  icon-only>
        <ion-icon name="md-apps" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img id="header" src="/assets/images/LEVT_Header.svg" alt="" />
    <ion-searchbar [(ngModel)]="data.searchEntry" placeholder="Dream destination" (focusout)="data.filterSearch()"></ion-searchbar>
  </ion-list>
</ion-header>

<ion-content color="none">
  <ion-list lines="none">
    <div class="gallery" *ngFor="let j of data.currentJourneys.journeys">
      <div class="pictureFrame">
        <div class="frameLeft"></div>
        <div class="imgAndInfo">
          <ion-item class="thumbnailImg" color="none" (click)="showJourney(j.journeyID)">
            <img *ngIf="j.thumbnailSrc != null" src="{{j.thumbnailSrc}}" alt="Reise" />
            <img *ngIf="j.thumbnailSrc == null" src="/assets/images/platzhalter_journey.png" alt="Reise" />
            <div class="travelTitle">{{j.journeyName}}</div>
          </ion-item>
          <div class="picInformations">
            <div class="userpicAndName">
              <ion-item color="none">
                <img src={{j.userImgSrc}} alt="User" class="userpic" />
              </ion-item>
              <ion-item color="none">
                <ion-label>{{j.username}}</ion-label>
              </ion-item>
            </div>
            <ion-item color="none" class="travelTime">
                <ion-icon name="md-time" class="timeIcon"></ion-icon>
              <ion-label>{{j.seasonName}} - {{j.year}}</ion-label>
            </ion-item>
          </div>
        </div>
        <div class="frameRight"></div>
      </div>
    </div>
  </ion-list>
  <div id="start">
    <ion-icon id="arrowUp" color="#d68900" name="ios-arrow-up" (click)="smoothScrollJS()"></ion-icon>
  </div>
</ion-content>
