body {
  height: auto;
}

ion-list.md.list-md.list-lines-none.list-md-lines-none.hydrated{
	background:0;
} // Startseite alle Beiträge & Zwischenraum

.headerAll {
  min-height: max-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-bottom: 30px;
  margin-bottom: 10px;
} // alles im Header (Logo, Searchbar, Setup)

.header-md:after {
  //content: 0;
  height: 0;
} // macht Strich nach Header weg

ion-searchbar {
  background-color: white;
  border: 5px solid #182f30;
  border-radius: 0.5em;
  font-size: 14pt !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25%;
  box-shadow: 5px 5px 5px #182f30;
  z-index: 3;
  padding: 0;
} //Suchleiste

.searchbar-input.sc-ion-searchbar-ios{
  background:white !important;
} //macht Hintergrund bei Suchleiste in IOS trotzdem grau
ion-label {
  margin: 0;
}
ion-item {
  margin: 0;
  --ion-safe-area-right: 0;
  --ion-safe-area-left: 0;
}
ion-list{
	padding:0;
}
#start {
  position: fixed;
  width: 20px;
  height:20px;
  background-color: #182f30;
  margin-bottom: 10px;
  color: #d68900;
  bottom: 0;
  right: 0;
} // Button mit Pfeil nachoben
#arrowUp{
  font-size: 16pt;
  text-align: justify;
  font-weight: bolder;
} // Pfeil nach oben selber
