<ion-header class="tabHeader">
  <ion-buttons>
    <ion-button icon-only (click)="backToProfileOrHomepage()">
      <ion-icon class="back" name="ios-arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  
  <ion-title class="tabHeading" no-padding> Settings</ion-title>
  <img class="headerLogo" src="/assets/images/LEVT_Logo_ohneSchrift.svg" alt="Logo" />
</ion-header>
<hr><!--macht eine durchsichtige Linie zwischen Header und eigentlichen Content-->

<ion-content>
  <ion-list>
    <ion-item *ngIf="userService.userLoggedIn(data.loggedInUser) == false" no-padding lines="none">
      <ion-button (click)="showLogin()">Login</ion-button>
    </ion-item>
    <ion-item *ngIf="userService.userLoggedIn(data.loggedInUser)" no-padding lines="none">
      <ion-button (click)="showLogoutAlert()">Logout</ion-button>
    </ion-item>
    <ion-item no-padding lines="none">
      <ion-button>Data privacy</ion-button>
    </ion-item>
    <ion-item no-padding lines="none">
      <ion-button>Terms of use</ion-button>
    </ion-item>
  </ion-list>


  <!-- login und Register -->
 <!-- LOGIN -->
  <div class="loginBg" *ngIf="userService.userLoggedIn(data.loggedInUser) == false && userService.wantsToRegister==false && userService.wantsToLogin==true">
    <div class="login">

      <div class="loginRegisterHeader">
      <ion-buttons>
        <ion-button (click)="loginClose()" icon-only>
          <ion-icon class="cancel" name="ios-close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="tabHeading" no-padding> Login</ion-title>
    </div> <!-- HEADER: X & Login -->
        
    <ion-list>
      <ion-col no-padding>
        <ion-label><b class="importantThings">Username</b></ion-label>
      <ion-input class="inputField" type="text" placeholder="username"
         no-margin maxlength="20" [(ngModel)]="data.loggedInUser.username"></ion-input>
      </ion-col>
    
      <ion-col no-padding>
        <ion-label><b class="importantThings">Password</b></ion-label>
      <ion-input class="inputField" type="text" placeholder="password"
         no-margin maxlength="20" [(ngModel)]="data.loggedInUser.pwClear"></ion-input>
      </ion-col>
    
      <ion-button color="warning" expand="full" (click)="login()">Login</ion-button>
      <ion-button expand="full" (click)="userService.goToResetPw()">Forgot Password</ion-button>
    </ion-list>
    <ion-button expand="full" (click)="userService.goToRegistration()">Register</ion-button>
  </div>
  </div>

  <div class="loginBg" *ngIf="userService.userLoggedIn(data.loggedInUser) == false && userService.wantsToRegister==false && userService.wantsToLogin==false && userService.wantsToResetPw == true">
    <div class="login">
      <ion-buttons>
        <ion-button (click)="userService.backToLogin()" icon-only>
          <ion-icon  class="back" name="ios-arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="tabHeading" no-padding>Forgot Password</ion-title>
    <ion-list>
      <ion-col no-padding>
        <ion-label><b class="importantThings">E-mail Address</b></ion-label>
      <ion-input class="inputField" type="email" placeholder="E-mail"
         no-margin [(ngModel)]="data.loggedInUser.emailAddress"></ion-input>
      </ion-col>
    
      <ion-button color="warning" expand="full" (click)="userService.resetPassword(data.loggedInUser,data.url)">Send E-Mail</ion-button>
    </ion-list>
   
  </div>
  </div>

  <!-- REGISTER -->
  <div class="registerBg" *ngIf="userService.userLoggedIn(data.loggedInUser) == false && userService.wantsToRegister && userService.wantsToLogin == true">
    <div class="register">

      <div class="loginRegisterHeader">
        <ion-buttons>
          <ion-button (click)="loginClose()" icon-only>
            <ion-icon class="cancel" name="ios-close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="tabHeading" no-padding> Register</ion-title>
      </div> <!-- HEADER: X & Register -->

    <ion-list>
      <ion-col no-padding>
        <ion-item lines="none" no-padding >
          <ion-label><b class="importantThings" position="floating">Upload your Profile Picture here</b></ion-label>
        </ion-item>
        <ion-item no-padding lines="none">
          <div *ngIf="data.loggedInUser.userImgSrc != '' && data.loggedInUser.userImgSrc != null" id="placeThumbnails" class="gridContainer">
              <img class="pictureGrid" alt="" src="{{data.loggedInUser.userImgSrc}}" >
              <ion-button class="trash" icon-only (click)="deleteProfileImage(image)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
            <div *ngIf="data.loggedInUser.userImgSrc == '' || data.loggedInUser.userImgSrc == null" class="grid-item" (click)="selectProfileImage()">
              <ion-icon name="ios-add" class="addPlace"></ion-icon>
            </div>
        </ion-item>
      </ion-col>

      <ion-col no-padding>
        <ion-label><b class="importantThings">Username</b><b class="importantStars">*</b></ion-label>
      <ion-input class="inputField" type="text" placeholder="username" 
         no-margin maxlength="20" [(ngModel)]="data.loggedInUser.username" (focusout)="userService.checkUsername(data.loggedInUser,data.url)"></ion-input>
      </ion-col>

      <ion-col no-padding no-margin *ngIf="userService.usernameAvailable == false">
        <b class="importantStars">This username is already assigned. Please pick another username!</b><br>
      </ion-col>
    
      <ion-col no-padding>
        <ion-label><b class="importantThings">Password</b><b class="importantStars">*</b></ion-label>
      <ion-input class="inputField" type="text" placeholder="password"
         no-margin [(ngModel)]="data.loggedInUser.pwClear"></ion-input>
      </ion-col>

      <ion-col no-padding>
        <ion-label><b class="importantThings">Repeat Password</b><b class="importantStars">*</b></ion-label>
      <ion-input class="inputField" type="text" placeholder="repeat password"
         no-margin [(ngModel)]="userService.secondPw" (focusout)="userService.checkPassword(data.loggedInUser)"></ion-input>
         <ion-text *ngIf="userService.passwordIsTheSame == false"><b class="importantStars">The passwords are not identical. Please check your entry!</b> <br></ion-text>
      </ion-col>

      <ion-col no-padding>
        <ion-label><b class="importantThings">E-Mail</b><b class="importantStars">*</b></ion-label>
      <ion-input type="e-mail" class="inputField" type="text" placeholder="e-mail"
         no-margin [(ngModel)]="data.loggedInUser.emailAddress" (focusout)="checkEmail()"></ion-input>
      </ion-col>

      <ion-col no-padding *ngIf="userService.emailFormatIsCorrect == false">
        <ion-label><b class="importantStars">This is not a correct email format. Please check your entry!</b></ion-label><br>
      </ion-col>
      <ion-col no-padding *ngIf="userService.emailAvailable == false">
        <ion-label><b class="importantStars">This email is already assigned. Please use another E-Mail address!</b></ion-label><br>
      </ion-col>


      <ion-col no-padding>
        <ion-label><b class="importantThings">Country of Residence</b><b class="importantStars">*</b></ion-label>
        <ion-select placeholder="Country of Residence" [(ngModel)]="data.loggedInUser._countryOfResidenceID">
          <ion-select-option *ngFor="let c of data.countries.countries" [value]="c.countryID">
            {{c.countryName}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    
      <div class="birthdayRegister" lines="none">
        <ion-label><b class="importantThings">Birthday</b><!--<b class="importantStars">*</b>--></ion-label>
        <ion-datetime [(ngModel)]="data.loggedInUser.birthday" displayFormat="MMM DD YYYY"
           no-padding></ion-datetime>
      </div>
  </ion-list>
    
    <ion-button expand="full" (click)="register()">Register</ion-button>
    <ion-label class="importantThings">
      * Fields marked with a <b class="importantStars">*</b> are mandatory.
    </ion-label>

  </div>
  </div>

</ion-content>
