.sc-ion-buttons-md-s ion-button {
    --padding-start: 20px;
    --padding-end: 20px;
  } // buttons x & <

#chat{
    background-image: url("/assets/images/LEVT_Header.svg");
    background-repeat: no-repeat;
    background-position: center;
} // Ganzes Chatfenster

#fromUser{
    font-weight: bolder;
    color: #eceeef;
} // Nachrichten von User die man bekommt, Username

#meUser{
    font-weight: bolder;
    color: #182f30;
} // Nachrichten die ich sende, Username

.otherMessage b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color:#7ba9a9;
  } // dicker Text

.message{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
} // Einzelne Message Boxen

.otherMessage{
    background-color: #415f4b;
    color: white;
} // Grüne Message

.myMessage{
    background-color: #7ba9a9;
    color: #182f30;
} // Blaue Message

.time{
    color: white;
    font-size: small;
} // Zeit & Datumangabe bei Chat von anderen User

.timeMeUser{
    color:  #182f30;
    font-size: small;
} // Zeit & Datumangabe bei Chat von mir

ion-footer{
    margin-bottom: 5px;
    background-color: #eceeef;
}

.messageInput{
 width: 100%;
 border: 1px solid #bcc0c2;
 background: #ffffff;
 resize: none;
 padding-left: 10px;
 padding-right: 10px;
} // Chat Eingabe fenster 

.msgButton{
--padding-start:0.5em;
--padding-end:0.5em;
} // Button zum Absenden

.sendButton{
    color: #7ba9a9;
} // Sende Button Chat