<ion-header class="tabHeader">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

  <ion-title class="tabHeading">{{data.currentPlace.placeName}}</ion-title>
  <ion-item color="none">
      <img src={{data.currentJourney.userImgSrc}} alt="User" class="userpic" />
    </ion-item>
</ion-header>


<ion-content>
    <ion-list lines="none">
        <div id="gallery">
          <div class="pictureFrame">
            <div class="imgAndInfo">
              <ion-item class="thumbnailImg" color="none">
                <img src="{{data.currentPlace.thumbnailSrc}}" alt="Place" />
              </ion-item>
              <div class="picInformations">
                <div class="userpicAndName">
                  <ion-item color="none">
                  </ion-item>
                </div>
                <ion-item color="none" id="travelTime">
                    <ion-icon name="md-time" id="timeIcon"></ion-icon>
                  <ion-label>{{data.currentJourney.seasonName}} - {{data.currentJourney.year}}</ion-label>
                </ion-item>
              </div>
            </div>
          </div>
        </div>
      </ion-list>
    <ion-item><ion-text>Detail: {{data.currentPlace.detail}}</ion-text></ion-item>
    <!--<ion-item><ion-label>PlaceID: {{data.currentPlace.placeID}}</ion-label></ion-item>
    <ion-item><ion-label>JourneyID: {{data.currentPlace._journeyID}}</ion-label></ion-item>
    <ion-item><ion-label>thumbnailID: {{data.currentPlace._thumbnailID}}</ion-label></ion-item>
    <ion-item><ion-label>CountryID: {{data.currentPlace._countryID}}</ion-label></ion-item>  
    <ion-item><ion-text>Placename: {{data.currentPlace.placeName}}</ion-text></ion-item>
    <ion-item><ion-text>Country: {{data.currentPlace.countryName}}</ion-text></ion-item>-->

    <ion-item>
        <ion-label>Posts:</ion-label>
      </ion-item>
      <ion-item>
        <div id="alreadyAddedPlaces" class="gridContainer">
          <div class="grid-item" *ngFor="let po of data.currentPlace.posts">
            <img class="pictureGrid" src="{{po.images[0]}}" alt="" (click)="showPost(po.postID)"/>
            <div id="Postactivity">{{po.activityName}}</div>
          </div>
        </div>
      </ion-item>
</ion-content>
