/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-item {
  font-size: 10pt;
  --inner-padding-end: none;
  background-color: none;
  margin-bottom: 20px;
}
input {
  background-color: none;
}
b{
  color: #161616;
} // Bold = Fett geschriebene Sachen
div.tabs-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
} // => Content auf allen Seiten
ion-header.tabHeader.md.header-md.header-collapse-none.hydrated::after {
  background: #415f4b66;
  height: 1px;
} //Linie nach Header
.tabHeader {
  height: 60px;
  margin: -10px auto 0 auto; // top-right-bottom-left
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} // Header auf allen Seiten
.cancel {
  justify-content: left;
  color: #d68900;
  font-size: 50pt;
  vertical-align: middle;
  position: absolute;
} // X auf Unterseiten
.back {
  justify-content: left;
  color: #7ba9a9;
  font-size: 30pt;
  vertical-align: middle;
  position: absolute;
} // < auf Unterseiten
.sc-ion-buttons-md-s ion-button {
  --padding-start: 20px;
  --padding-end: 20px;
} // buttons x & <
.tabHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
  text-align: center;
  font-variant: small-caps;
  vertical-align: middle;
} // Headerüberschrift auf allen Seiten
.headerLogo {
  height: 50px;
  vertical-align: middle;
} // Logo im Header auf allen Seiten
.headerUserPic {
  height: 30px;
  width: 30px;
  align-self: center;
  object-fit: cover;
} // User Pic im Header auf allen Seiten
.frameLeft .frameRight {
  position: absolute;
} // Bilderrahmen link und rechts
.pictureFrame {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
} // Bilderrahmen => Rahmen & Bild
.frameLeft {
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border-top: 4px solid #182f30;
  border-left: 4px solid #182f30;
} //Rahmen Links
.frameRight {
  float: right;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #182f30;
  border-right: 4px solid #182f30;
} // Rahmen Rechts
.travelTime {
  display: flex;
  flex-direction: row;
} // Season & Year
.timeIcon {
  margin-right: 5px;
  color: #7ba9a9;
} // Uhr Icon
.alignright {
  float: right !important;
}
div .item-native {
  padding-left: -16px;
}
* {
  border-radius: 0px;
} //macht radiobutton eckig
button {
  padding: none;
}
ion-chip {
  padding: 0px;
  background: 0;
  margin-right: 5px;
}

.gridContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  //flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}
.grid-item {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  background: #7ba9a9bf;
} //=> Bild & Text
.grid-item .addPlace {
  width: 100px;
  height: 100px;
  background-color: #7ba9a9bf;
  vertical-align: middle;
  text-align: center;
  color: #182f30;
  font-size: 70pt;
  font-weight: bolder;
}// Add a Place
.pictureGrid {
  width: 100px;
  height: 100px;
  object-fit: cover;
} //=> Bild alleine

.visitedPlaceName {
  width: 100%;
  margin-top: -30px;
  align-self: center;
  background-color: #eceeefbf;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  text-align: center;
  position: relative;
  z-index: 100; 
}//Text auf transparenten Hintergrund

b{
  color: #415f4b;
} // dicker Text

//Map
.map {
  height: 100%;
}
