/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

    ion-item {
      font-size: 10pt;
      --inner-padding-end: 0;
    };
div.tabs-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
} // => Content auf allen Seiten
ion-header.tabHeader.md.header-md.header-collapse-none.hydrated::after{
  background:0;
} //macht linie nach Header weg
.tabHeader {
      margin: -10px auto 5px auto; // top-right-bottom-left
      display: flex;
      flex-direction: row;
      justify-content: space-between;
} // Header auf allen Seiten
.tabHeading {
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
  text-align: center;
  font-variant: small-caps;
  vertical-align: middle;
}// Headerüberschrift auf allen Seiten
#headerLogo {
  height: 50px;
}// Logo im Header auf allen Seiten
.alignright{
  float:right !important;
}

