#profilUserpicInformations{
  width: 100%;
  margin-bottom: 10px;
}
#userpicProfil{
    width: 100px;
    height: 100px;
    object-fit: cover;
  } // Profilbild auf Profil
  #profilAgeLanguage{
    margin-left: 5px;
    //margin-top: -50px;
    top:0;
  }
  #badges{
    top:0;
  }
 .myJourneys.hydrated{
   width: 100%;
   text-align: center;
   margin-bottom: -20px;
 }
  .oneBadge{
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  #platzhalterFortschritt{
    width: 100%;
    height: 10px;
    background-color: #415f4b;
  }

  #PlatzhalterKartenVis{
    width: 100%;
    max-height: 200px;
    padding: 2px;
    border: 1px solid #182f30;
    object-fit: cover;
  } // dies ist nur ein Platzhalter
