#userpicProfil{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 5px;
  } // Profilbild auf Profil

  #PlatzhalterKartenVis{
    width: 100%;
    height: 200px;
    border: 1px solid #182f30;
    background-color: #182f30;
    //background-image: url("assets/images/kartenvisualisierung.png");
    //background-image: url("kartenvisualisierung.png");
  } // dies ist nur ein Platzhalter