<ion-header class="tabHeader">
    <ion-buttons id="setup" slot="end">
        <ion-button icon-only>
          <ion-icon name="md-apps" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
  <ion-title class="tabHeading" no-padding>{{data.currentUser.username}}</ion-title>
  <img class="headerLogo" src="/assets/images/LEVT_Logo_ohneSchrift.svg" alt="Logo" />
</ion-header>
<hr>
<!--macht eine durchsichtige Linie zwischen Header und eigentlichen Content-->

<ion-content>
    <ion-item color="none">
        <img src={{data.currentUser.userImgSrc}} alt="User" />
    </ion-item>
    <ion-list>
      <ion-item>
        Sprache
      </ion-item>
      <ion-item>
       Herukunftsland
      </ion-item>     
    </ion-list>

    <ion-list lines="none">
        <div id="gallery" *ngFor="let j of data.currentJourneys.journeys">
          <div class="pictureFrameIndex">
            <div class="frameLeft"></div>
            <div class="imgAndInfo">
              <ion-item class="thumbnailImg" color="none" (click)="showJourney(j.journeyID)">
                <img *ngIf="j.thumbnailSrc != null" src="{{j.thumbnailSrc}}" alt="Reise" />
                <img *ngIf="j.thumbnailSrc == null" src="/assets/images/platzhalter_journey.png" alt="Reise" />
                <div id="travelTitle">{{j.journeyName}}</div>
              </ion-item>
              <div class="picInformations">
                <ion-item color="none" class="travelTime">
                    <ion-icon name="md-time" class="timeIcon"></ion-icon>
                  <ion-label>{{j.seasonName}} - {{j.year}}</ion-label>
                </ion-item>
              </div>
            </div>
            <div class="frameRight"></div>
          </div>
        </div>
      </ion-list>
  

</ion-content>
