ion-col{
    margin-bottom: 10px;
}

.birthdayEdit{
    width: 100%;
    max-height: 30px;
    background-color: #7ba9a926;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin-bottom: 10px;
  } // Registrierung Geburtstag