<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add a Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>What is your post about?</ion-label>
    <ion-select placeholder="Post Category" [(ngModel)]="data.newPost._activityID">
      <ion-select-option *ngFor="let a of data.activities.activities" value="{{a.activityID}}">
        {{a.activityName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><b>Post Details</b></ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="data.newPost.detail" placeholder="Tell us what you experienced here!" rows="8" background="light"></ion-textarea>
  </ion-item>
  <ion-button (click)="savePost()" color="primary" expand="full">
    Finish
  </ion-button>
</ion-content>