<ion-header class="tabHeader">
  <img class="headerLogo" src="/assets/images/LEVT_Logo_ohneSchrift.svg" alt="Logo" />
  <ion-title class="tabHeading" no-padding>Discover</ion-title>
  <ion-buttons slot="end" no-padding>
    <ion-button icon-only no-padding (click)="goToSettings()">
      <ion-icon name="settings" size="large" style="color:#182f30"></ion-icon>
        <!--<ion-icon name="md-apps" size="large"></ion-icon>-->
    </ion-button>
  </ion-buttons>
</ion-header>
<hr> <!--macht eine durchsichtige Linie zwischen Header und eigentlichen Content-->

<ion-content class="tabsContent">
  <div #map class="map" (click)="clickedMap()"></div>

  <!-- Gamification: Explorer -->
  <div class="gamificationBg" *ngIf="data.loggedInUser.explorerBadgeProgress==27|| data.loggedInUser.explorerBadgeProgress==21||data.loggedInUser.explorerBadgeProgress==25">
    <div class="login">
      <ion-title class="tabHeading" no-padding>New Badge available!</ion-title>
      <img class="oneBadge" src="/assets/images/badge_explorer.png">
      <p>Great! You found one of our search methods. Look for the other ones and try them out to reach the "Explorer" Badge! Your progress: 33% </p>
      <ion-progress-bar [value]=0.33></ion-progress-bar>
    <br>
    
    <ion-button  (click)="closeExplorerToast()" expand="full" >OK</ion-button>
  </div>
  </div>

  <div class="gamificationBg"*ngIf="data.loggedInUser.explorerBadgeProgress==49|| data.loggedInUser.explorerBadgeProgress==53||data.loggedInUser.explorerBadgeProgress==47">
    <div class="login">
      <ion-title class="tabHeading" no-padding>New Badge Progress!</ion-title>
      <img class="oneBadge" src="/assets/images/badge_explorer.png">
      <p>Great! You found another search method. Look for the last one and try them out to reach the "Explorer" Badge! Your progress: 66% </p>
      <ion-progress-bar [value]=0.66></ion-progress-bar>
    <br>
    
    <ion-button  (click)="closeExplorerToast()" expand="full" >OK</ion-button>
  </div>
  </div>

  <div class="gamificationBg" *ngIf="data.loggedInUser.explorerBadgeProgress==75" >
    <div class="login">
      <ion-title class="tabHeading" no-padding>New Badge achieve!</ion-title>
      <img class="oneBadge" src="/assets/images/badge_explorer.png">
      <p>Congratulations! You tried out all of our search methods and maybe learned something new. Visit your profile to see your new achieved Badge! (100%) </p>
      <ion-progress-bar [value]=1></ion-progress-bar>
    <br>
    
    <ion-button  (click)="closeExplorerToast()" expand="full" >OK</ion-button>
  </div>
  </div>

</ion-content>
