<ion-header>
  <ion-toolbar>
    <ion-title>
      Entdecken
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map class="map" (click)="clickedMap()"></div>

  <!-- Gamification: Explorer -->
  <div class="gamificationBg" *ngIf="data.clickedMap && data.showedExplorerMap==false && data.loggedInUser.explorerBadgeProgress<100">
    <div class="login">
      <ion-title class="tabHeading" no-padding>New Badge available!</ion-title>
      <img class="oneBadge" src="/assets/images/badge_explorer.png">
      <p>Perfect! We're glad you found and used our search by the interactive map! Look for the other search methods and try them out to reach the "Explorer" Badge! Your progress: ({{data.loggedInUser.explorerBadgeProgress}}%) </p>
      <ion-progress-bar [value]="data.loggedInUser.explorerBadgeProgress/100"></ion-progress-bar>
    <br>
    
    <ion-button  (click)="closeExplorerToast()" expand="full" >OK</ion-button>
  </div>
  </div>

  <div class="gamificationBg" *ngIf="data.clickedMap && data.showedExplorerMap==false && data.loggedInUser.explorerBadgeProgress>=100">
    <div class="login">
      <ion-title class="tabHeading" no-padding>New Badge achieve!</ion-title>
      <img class="oneBadge" src="/assets/images/badge_explorer.png">
      <p>Congratulations! You tried out all of our search methods and maybe learned something new. Visit your profile to see your new achieved Badge! (100%) </p>
      <ion-progress-bar [value]="data.loggedInUser.explorerBadgeProgress/100"></ion-progress-bar>
    <br>
    
    <ion-button  (click)="closeExplorerToast()" expand="full" >OK</ion-button>
  </div>
  </div>

</ion-content>
